{% extends 'base.html.twig' %}

{% block title %}New Bon{% endblock %}

{% block body %}
    <div class="rand margin">
    <h1>Nieuwe rekening</h1>

    {{ include('bon/_form.html.twig') }}

    <a class="btn btn-sm btn-primary" href="{{ path('bon_index') }}">back to list</a>
    </div>
{% endblock %}
