{% extends 'base.html.twig' %}

{% block title %}New Klant{% endblock %}

{% block body %}
    <div class="rand">
    <h1>Een nieuwe klant aanmaken</h1>

    {{ include('klant/_form.html.twig') }}
<br>
    <a class="btn btn-sm btn-primary" href="{{ path('klant_index') }}">Terug naar de lijst</a>

    </div>{% endblock %}
